# Prerequisites
*.d

# Build folders
[Rr]elease/
[Dd]ebug/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user

# Other build artifacts
*.vs
*.bin
*.res
*.log
*.pdb
*.tlog
*.idb
*.ilk
*.iobj
*.ipdb
event_ids.rc
event_ids.h
